<%= render 'home/carousel' %>

<div class="pg2">
    <%= image_tag 'logoBlk.png', class: 'logoBlk' %>
    <div class="homeTxt">
        <h1>TimasBite</h1>
        <h6>We think your food should work as hard as you do, so we designed delicious meal plans, with macronutrient profiles to support your fitness and weight goals.</h6>
    </div>
</div>


