body{
background-color: #f7f7f7;
}
.container{
    width: 55%;
    background-color: rgba(92, 92, 92, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    padding: 2%;
    position: fixed;
    top: 350px;
    left: 50px;
    color: white;
    border: 2px solid white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.headshot{
    width: 75vw;
    position: fixed;
    right: 0px;
    top: 150px;
    z-index: -1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.TBlogo{
    z-index: -4;
    position: fixed;
    top: 50px;
    left: 0px;
    width: 70%;
    filter: opacity(40%);
}