/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body{
background-color: white;
}
.carousel-item{
    width: 100vw;
    height: 90vh;
}
.d-block{
    object-fit: cover;
    object-position: 0 -200px;
}
.homeTxt{
    text-align: center;
    width: 55%;
}
.logoBlk{
    width: 30%;
    filter: drop-shadow(0px 0px 10px #5b5b5b);
}
.pg2{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.card{
    width: 90%;
    margin: 5%;
}
.form-container{
    width: 90%;
    margin: 5%;
}
.link{
    margin-left: 5%;
}
.headTxt{
    margin-left: 5%;
    margin-top: 2%;
}
.showImg{
    width: 95%;
    height: 500px;
    background-color: #d0d0d0;
}
.notice{
    width: 90%;
    margin-left: 5%;
    background-color: rgb(173, 222, 169);
}
.cardImg{
    background-color: #d0d0d0;
    min-height: 150px;
}
.showCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.carousel{
    height: 90vh;
}